Q1. How do you load a CSV file into a Pandas DataFrame?

In [2]:
import pandas as pd
df=pd.read_csv("organizations-100.csv")
res=pd.DataFrame(df)
print(res)

    Index  Organization Id                     Name  \
0       1  FAB0d41d5b5d22c              Ferrell LLC
1       2  6A7EdDEA9FaDC52  Mckinney, Riley and Day
2       3  0bFED1ADAE4bcC1               Hester Ltd
3       4  2bFC1Be8a4ce42f           Holder-Sellers
4       5  9eE8A6a4Eb96C24              Mayer Group
..    ...              ...                      ...
95     96  0a0bfFbBbB8eC7c             Holmes Group
96     97  BA6Cd9Dae2Efd62                 Good Ltd
97     98  E7df80C60Abd7f9        Clements-Espinoza
98     99  AFc285dbE2fEd24               Mendez Inc
99    100  e9eB5A60Cef8354           Watkins-Kaiser

                           Website                      Country  \
0               https://price.net/             Papua New Guinea
1   http://www.hall-buchanan.info/                      Finland
2        http://sullivan-reed.com/                        China
3              https://becker.com/                 Turkmenistan
4           http://www.brewer.com/                    Mauritius
..                             ...                          ...
95           https://mcdowell.org/                     Ethiopia
96               http://duffy.com/                     Anguilla
97         http://www.flowers.net/  Falkland Islands (Malvinas)
98          https://www.burke.net/              Kyrgyz Republic
99         http://www.herring.com/                         Togo

                                       Description  Founded  \
0              Horizontal empowering knowledgebase     1990
1              User-centric system-worthy leverage     2015
2                   Switchable scalable moratorium     1971
3   De-engineered systemic artificial intelligence     2004
4               Synchronized needs-based challenge     1991
..                                             ...      ...
95          Right-sized zero tolerance focus group     1975
96         Reverse-engineered composite moratorium     1971
97                         Progressive modular hub     1991
98                 User-friendly exuding migration     1993
99                   Synergistic background access     2009

                       Industry  Number of employees
0                      Plastics                 3498
1   Glass / Ceramics / Concrete                 4952
2                 Public Safety                 5287
3                    Automotive                  921
4                Transportation                 7870
..                          ...                  ...
95                  Photography                 2988
96            Consumer Services                 4292
97              Broadcast Media                  236
98         Education Management                  339
99           Financial Services                 2785

[100 rows x 9 columns]

Q2. How do you check the data type of a column in a Pandas DataFrame?

In [12]:
print(type(df['Index']))
print(type(df[['Index','Organization Id']]))
print(df.dtypes)

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
Index                   int64
Organization Id        object
Name                   object
Website                object
Country                object
Description            object
Founded                 int64
Industry               object
Number of employees     int64
dtype: object

Q3. How do you select rows from a Pandas DataFrame based on a condition?

In [28]:
import logging
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
try:
    sel_cond=df.loc[df["Industry"] == "Financial Services"]
    print(sel_cond)
    logging.info("Operation successful")
except Exception as e:
    print("Type error",e)
    logging.error("Not successful")

    Index  Organization Id            Name                     Website  \
76     77  DDB19Be7eeB56B4  Cummings-Rojas  https://simon-pearson.com/
99    100  e9eB5A60Cef8354  Watkins-Kaiser     http://www.herring.com/

                         Country                            Description  \
76  Svalbard & Jan Mayen Islands  User-centric modular customer loyalty
99                          Togo          Synergistic background access

    Founded            Industry  Number of employees
76     2012  Financial Services                 7529
99     2009  Financial Services                 2785

In [40]:
import logging
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
try:
    ren_res=df.rename(columns={"Industry":"Industries"},inplace=True)
    ren_res=df.rename(columns={"Name":"Names"},inplace=False)
    print(df.columns)
    logging.info("Operation successful")
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

Index(['Index', 'Organization Id', 'Names', 'Website', 'Country',
       'Description', 'Founded', 'Industries', 'Number of employees'],
      dtype='object')

In [48]:
import logging
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
try:
    df.drop(["Country"],axis=1,inplace=True) #Founded was removed in first time,but my mistake re ran that code
    print(df.columns)
    logging.info("Operation successful")
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

Index(['Index', 'Organization Id', 'Names', 'Website', 'Description',
       'Industries', 'Number of employees'],
      dtype='object')

Q6. How do you find the unique values in a column of a Pandas DataFrame?

In [4]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df=pd.read_csv("organizations-100.csv")
try:
    uni_res=df.Website.unique
    print(uni_res)
    logging.info("Operation successful")
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

<bound method Series.unique of 0                 https://price.net/
1     http://www.hall-buchanan.info/
2          http://sullivan-reed.com/
3                https://becker.com/
4             http://www.brewer.com/
                   ...
95             https://mcdowell.org/
96                 http://duffy.com/
97           http://www.flowers.net/
98            https://www.burke.net/
99           http://www.herring.com/
Name: Website, Length: 100, dtype: object>

Q8. How do you fill missing values in a Pandas DataFrame with a specific value?

In [10]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df=pd.read_csv("organizations-100.csv")
try:
    miss_res=df.fillna(method='ffill', inplace=True)
    miss_res_back=df.fillna(method='bfill', inplace=True)
    print(miss_res)
    print(miss_res_back)
    logging.info("Operation successful")
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

None
None

Q9. How do you concatenate two Pandas DataFrames?

In [22]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df1=pd.DataFrame({"A":[1,2,3],"B":[11,12,13]})
df2=pd.DataFrame({"A":[1,2,3],"B":[21,22,23]})
try:
    merge_df=pd.concat([df1,df2])
    print(merge_df)
    
    logging.info("Operation successful")
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

   A   B
0  1  11
1  2  12
2  3  13
0  1  21
1  2  22
2  3  23

Q10. How do you merge two Pandas DataFrames on a specific column?

In [24]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df1=pd.DataFrame({"A":[1,2,3],"B":[11,12,13]})
df2=pd.DataFrame({"A":[1,2,3],"B":[21,22,23]})
try:
    merge_df=pd.merge(df1,df2,on="A")
    print(merge_df)
    
    logging.info("Operation successful")
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

   A  B_x  B_y
0  1   11   21
1  2   12   22
2  3   13   23

Q11. How do you group data in a Pandas DataFrame by a specific column and apply an aggregation function?

In [6]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df=pd.read_csv("organizations-100.csv")
try:
    max_df=df['Number of employees'].max()
    max_grp_df=df.groupby("Country")['Number of employees'].max()
    print(max_df)
    print(max_grp_df)
    logging.info("Operation successful")
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

9995
Country
Anguilla          4292
Australia         4155
Bahamas           4914
Belarus           3715
Belgium           5038
                  ...
Uruguay           6874
Uzbekistan        9698
Vietnam           9097
Western Sahara    1746
Zimbabwe          6135
Name: Number of employees, Length: 84, dtype: int64

Q12. How do you pivot a Pandas DataFrame?

In [3]:
  import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
var=pd.DataFrame({"days":[1,2,3,4],"eng":[11,12,13,14],"maths":[14,13,12,11],"weekday":["Mon","tue","Wed","Thurs"]})
try:
    var.pivot(index="days",columns="weekday")
    print(var)
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

   days  eng  maths weekday
0     1   11     14     Mon
1     2   12     13     tue
2     3   13     12     Wed
3     4   14     11   Thurs

Q13. How do you change the data type of a column in a Pandas DataFrame?

In [10]:
  import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
var=pd.DataFrame({"days":[1,2,3,4],"eng":["11",12,13,14],"maths":[14,13,12,11],"weekday":["Mon","tue","Wed","Thurs"]})
try:
    print(var.info())
    var['eng']=var['eng'].astype('int64')
    print(var.sort_values(by=['eng']))
    print(var.sort_values(by=['maths']))
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   days     4 non-null      int64
 1   eng      4 non-null      object
 2   maths    4 non-null      int64
 3   weekday  4 non-null      object
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes
None
   days  eng  maths weekday
0     1   11     14     Mon
1     2   12     13     tue
2     3   13     12     Wed
3     4   14     11   Thurs
   days  eng  maths weekday
3     4   14     11   Thurs
2     3   13     12     Wed
1     2   12     13     tue
0     1   11     14     Mon

Q14. How do you sort a Pandas DataFrame by a specific column?

In [11]:
  import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
var=pd.DataFrame({"days":[1,2,3,4],"eng":["11",12,13,14],"maths":[14,13,12,11],"weekday":["Mon","tue","Wed","Thurs"]})
try:
    print(var.info())
    var['eng']=var['eng'].astype('int64')
    print(var.sort_values(by=['eng']))
    print(var.sort_values(by=['maths']))
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   days     4 non-null      int64
 1   eng      4 non-null      object
 2   maths    4 non-null      int64
 3   weekday  4 non-null      object
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes
None
   days  eng  maths weekday
0     1   11     14     Mon
1     2   12     13     tue
2     3   13     12     Wed
3     4   14     11   Thurs
   days  eng  maths weekday
3     4   14     11   Thurs
2     3   13     12     Wed
1     2   12     13     tue
0     1   11     14     Mon

Q15. How do you create a copy of a Pandas DataFrame?

In [13]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df=pd.read_csv("organizations-100.csv")
try:
    copy_df=df.copy()
    print(copy_df.head())
    
    logging.info("Operation successful")
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

   Index  Organization Id                     Name  \
0      1  FAB0d41d5b5d22c              Ferrell LLC
1      2  6A7EdDEA9FaDC52  Mckinney, Riley and Day
2      3  0bFED1ADAE4bcC1               Hester Ltd
3      4  2bFC1Be8a4ce42f           Holder-Sellers
4      5  9eE8A6a4Eb96C24              Mayer Group

                          Website           Country  \
0              https://price.net/  Papua New Guinea
1  http://www.hall-buchanan.info/           Finland
2       http://sullivan-reed.com/             China
3             https://becker.com/      Turkmenistan
4          http://www.brewer.com/         Mauritius

                                      Description  Founded  \
0             Horizontal empowering knowledgebase     1990
1             User-centric system-worthy leverage     2015
2                  Switchable scalable moratorium     1971
3  De-engineered systemic artificial intelligence     2004
4              Synchronized needs-based challenge     1991

                      Industry  Number of employees
0                     Plastics                 3498
1  Glass / Ceramics / Concrete                 4952
2                Public Safety                 5287
3                   Automotive                  921
4               Transportation                 7870

Q16. How do you filter rows of a Pandas DataFrame by multiple conditions?

In [17]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df=pd.read_csv("organizations-100.csv")
try:
    filt=(df['Country']=="China")
    print(df[filt])
    print(df.loc[filt,'Website'])
    logging.info("Operation successful")
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

   Index  Organization Id        Name                    Website Country  \
2      3  0bFED1ADAE4bcC1  Hester Ltd  http://sullivan-reed.com/   China

                      Description  Founded       Industry  Number of employees
2  Switchable scalable moratorium     1971  Public Safety                 5287
2    http://sullivan-reed.com/
Name: Website, dtype: object

Q17. How do you calculate the mean of a column in a Pandas DataFrame?

In [18]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df=pd.read_csv("organizations-100.csv")
try:
    avg=df.loc[:, 'Number of employees'].mean()
    print(avg)
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

4964.86

Q18. How do you calculate the standard deviation of a column in a Pandas DataFrame?

In [19]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df=pd.read_csv("organizations-100.csv")
try:
    avg=df.loc[:, 'Number of employees'].std()
    print(avg)
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

2850.8597994927136

Q19. How do you calculate the correlation between two columns in a Pandas DataFrame?

Q20. How do you select specific columns in a DataFrame using their labels?

In [24]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df=pd.read_csv("organizations-100.csv")
try:
    sel=df[['Number of employees','Website']]
    print(sel)
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

    Number of employees                         Website
0                  3498              https://price.net/
1                  4952  http://www.hall-buchanan.info/
2                  5287       http://sullivan-reed.com/
3                   921             https://becker.com/
4                  7870          http://www.brewer.com/
..                  ...                             ...
95                 2988           https://mcdowell.org/
96                 4292               http://duffy.com/
97                  236         http://www.flowers.net/
98                  339          https://www.burke.net/
99                 2785         http://www.herring.com/

[100 rows x 2 columns]

Q21. How do you select specific rows in a DataFrame using their indexes?

We can do that using iloc

In [2]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df=pd.read_csv("organizations-100.csv")
try:
    sel=df.iloc[[1,2],[2,4]]
    print(sel)
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

                      Name  Country
1  Mckinney, Riley and Day  Finland
2               Hester Ltd    China

Q22. How do you sort a DataFrame by a specific column?

In [8]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df=pd.read_csv("organizations-100.csv")
try:
    sel=df.sort_values('Number of employees')
    print(sel)
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

    Index  Organization Id                        Name  \
97     98  E7df80C60Abd7f9           Clements-Espinoza
98     99  AFc285dbE2fEd24                  Mendez Inc
60     61  bD1bc6bB6d1FeD3                Freeman-Chen
30     31  ccBcC32adcbc530   Sloan, Mays and Whitehead
69     70  902D7Ac8b6d476b                  Newton Inc
..    ...              ...                         ...
61     62  EB9f456e8b7022a                  Soto Group
63     64  055ffEfB2Dd95B0                   Riley Ltd
47     48  49aECbDaE6aBD53  Wallace, Madden and Morris
9      10  738b5aDe6B1C6A5                  Gaines Inc
37     38  19E3a5Bf6dBDc4F                 Cuevas-Moss

                               Website                      Country  \
97             http://www.flowers.net/  Falkland Islands (Malvinas)
98              https://www.burke.net/              Kyrgyz Republic
60                 https://mathis.com/                  Timor-Leste
30                  http://lawson.com/                         Chad
69  https://www.richmond-manning.info/         Netherlands Antilles
..                                 ...                          ...
61                https://norris.info/                      Vietnam
63                   http://wiley.com/                       Brazil
47   http://www.blevins-fernandez.biz/                      Germany
9          http://sandoval-hooper.com/                   Uzbekistan
37       https://dodson-castaneda.net/                    Guatemala

                               Description  Founded  \
97                 Progressive modular hub     1991
98         User-friendly exuding migration     1993
60          Phased next generation adapter     1973
30  Face-to-face high-level conglomeration     1997
69       Fundamental stable info-mediaries     1976
..                                     ...      ...
61  Enterprise-wide executive installation     1988
63         Optional exuding superstructure     1986
47   Persistent real-time customer loyalty     2016
9          Multi-lateral scalable protocol     1997
37        Extended human-resource intranet     1994

                             Industry  Number of employees
97                    Broadcast Media                  236
98               Education Management                  339
60  International Trade / Development                  346
30                  Civil Engineering                  365
69                  Military Industry                  563
..                                ...                  ...
61      Business Supplies / Equipment                 9097
63                           Textiles                 9315
47                    Pharmaceuticals                 9443
9            Outsourcing / Offshoring                 9698
37                              Music                 9995

[100 rows x 9 columns]

Q23. How do you create a new column in a DataFrame based on the values of another column?

In [20]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df=pd.read_csv("https://gist.githubusercontent.com/jwalsh/ce1dc0436aba5b7a5c9666f47fa5a380/raw/5ce3854392b43ff97907112d344fc008229b0445/titanic.csv")
try:
    df['New']=df['SibSp']+df['Parch']
    print(df.head(5))
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

   PassengerId  Survived  Pclass      Lname  \
0            1         0       3     Braund
1            2         1       1    Cumings
2            3         1       3  Heikkinen
3            4         1       1   Futrelle
4            5         0       3      Allen

                                          Name     Sex   Age  SibSp  Parch  \
0                              Mr. Owen Harris    male  22.0      1      0
1   Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1      0
2                                  Miss. Laina  female  26.0      0      0
3           Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0
4                            Mr. William Henry    male  35.0      0      0

             Ticket     Fare Cabin Embarked  New
0         A/5 21171   7.2500   NaN        S    1
1          PC 17599  71.2833   C85        C    1
2  STON/O2. 3101282   7.9250   NaN        S    0
3            113803  53.1000  C123        S    1
4            373450   8.0500   NaN        S    0

Q24. How do you remove duplicates from a DataFrame?

In [23]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df=pd.read_csv("https://gist.githubusercontent.com/jwalsh/ce1dc0436aba5b7a5c9666f47fa5a380/raw/5ce3854392b43ff97907112d344fc008229b0445/titanic.csv")
try:
    df.drop_duplicates(subset=['Ticket','Fare'])
    print(df[['Ticket','Fare']])
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

               Ticket     Fare
0           A/5 21171   7.2500
1            PC 17599  71.2833
2    STON/O2. 3101282   7.9250
3              113803  53.1000
4              373450   8.0500
..                ...      ...
151            113776  66.6000
152        A.5. 11206   8.0500
153          A/5. 851  14.5000
154         Fa 265302   7.3125
155          PC 17597  61.3792

[156 rows x 2 columns]

Q25. What is the difference between .loc and .iloc in Pandas?

In [25]:
import logging
import pandas as pd
logging.basicConfig(filename="testpandas.log",level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
df=pd.read_csv("https://gist.githubusercontent.com/jwalsh/ce1dc0436aba5b7a5c9666f47fa5a380/raw/5ce3854392b43ff97907112d344fc008229b0445/titanic.csv")
try:
    df2=df.head(15)[['Name','Sex','Age','Cabin']]
    df2.loc[[0,1],['Name','Age']] #loc means location where we can give name of columns and 0,1 is the rows we want
    df2.iloc[[2,4],[1,2]] #iloc is integer location where we give indexes of rows and columns we want repsectively,iloc is taking the inbuilt index which means that the indexing starts from 0 irrespective of what we are seeing in the output of the data frame
    print(df2)
except Exception as e:
    print("Error ocurred",e)
    logging.error("Some error ocurred, please check code")
    logging.error(e)

                                           Name     Sex   Age Cabin
0                               Mr. Owen Harris    male  22.0   NaN
1    Mrs. John Bradley (Florence Briggs Thayer)  female  38.0   C85
2                                   Miss. Laina  female  26.0   NaN
3            Mrs. Jacques Heath (Lily May Peel)  female  35.0  C123
4                             Mr. William Henry    male  35.0   NaN
5                                     Mr. James    male   NaN   NaN
6                                 Mr. Timothy J    male  54.0   E46
7                         Master. Gosta Leonard    male   2.0   NaN
8      Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0   NaN
9                   Mrs. Nicholas (Adele Achem)  female  14.0   NaN
10                         Miss. Marguerite Rut  female   4.0    G6
11                              Miss. Elizabeth  female  58.0  C103
12                            Mr. William Henry    male  20.0   NaN
13                             Mr. Anders Johan    male  39.0   NaN
14                  Miss. Hulda Amanda Adolfina  female  14.0   NaN